<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Title</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<h1 style="text-align: center"><b><i>Danh sách khách hàng</i></b> </h1>
<!--<a class="btn btn-info" routerLink="/customer/create" >Thêm mới khách hàng</a>-->
<app-customer-create></app-customer-create>
<div style="margin-left: 700px; margin-bottom: 20px" class="container mt-5">
  <form class="row g-3 align-items-center">
    <div class="col-auto">
      <input #inputSearch
             class="form-control me-2" type="text" placeholder="Search" aria-label="Search">
    </div>
    <div class="col-auto">
      <button class="btn btn-primary" (click)="search(inputSearch)">Search</button>
    </div>
  </form>
</div>
<table class="table table-{1:striped} table-inverse">
  <thead class="thead-inverse">
  <tr>
    <th>Id Customer</th>
    <th>Name Customer</th>
    <th>Birthday</th>
    <th>Id Card</th>
    <th>Phone Number</th>
    <th>Email</th>
    <th>Name Type</th>
    <th>Address</th>
    <th>Choose</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let c of customers ; index as i">
    <td scope="row">{{c.id}}</td>
    <td>{{c.nameCustomer}}</td>
    <td>{{c.birthday}}</td>
    <td>{{c.idCard}}</td>
    <td>{{c.phoneNumber}}</td>
    <td>{{c.email}}</td>
    <td>{{c.typeCustomer.nameTypeCustomer}}</td>
    <td>{{c.address}}</td>
    <td>
      <a style="margin-right: 10px"  class="btn btn-outline-primary" routerLink="/customer/update/{{c.id}}"><i class="fa-sharp fa-solid fa-pen-to-square" style="color: #8cff00;"></i></a>
      <a  class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#delete"  (click)=getCustomerDelete(c.id)><i class="fa-solid fa-trash-can" style="color: #ff0000;"></i></a>
    </td>
  </tr>
  </tbody>
</table>
<div style="text-align: center">
  <button class="btn"  *ngIf="!mgs"  (click)="page_first()"><i class="fa-solid fa-angles-left" style="color: #005eff;"></i></button>
  <button class="btn"  *ngIf="!mgs" (click)="page_prev()"><i class="fa-solid fa-chevron-left" style="color: #005eff;"></i></button>
  <span *ngIf="currentPage <=1 && !mgs">
    <button class="btn"  (click)="page_current(currentPage = 1)">1</button>
    <button class="btn"  (click)="page_current(currentPage = 2)">2</button>
    <button class="btn"  (click)="page_current(currentPage =3)">3</button>
    <button class="btn">...</button>
  </span>
  <span *ngIf="currentPage >1 && currentPage < sumPage +1 && !mgs">
    <button *ngIf="currentPage >2" class="btn">...</button>
     <button class="btn"  (click)="page_current(currentPage-1)">{{currentPage-1}}</button>
    <button class="btn"  (click)="page_current(currentPage)">{{currentPage}}</button>
    <button class="btn"  (click)="page_current(currentPage+1)">{{currentPage+1}}</button>
    <button  *ngIf="currentPage < sumPage" class="btn">...</button>
  </span>
  <span *ngIf="currentPage >= sumPage + 1 && !mgs">
    <button class="btn">...</button>
     <button class="btn"  (click)="page_current(sumPage-1)">{{sumPage-1}}</button>
    <button class="btn"  (click)="page_current(sumPage)">{{sumPage}}</button>
    <button class="btn"  (click)="page_current(sumPage+1)">{{sumPage+1}}</button>
  </span>
  <button class="btn" *ngIf="!mgs"   (click)="page_next()"><i class="fa-solid fa-angle-right" style="color: #005eff;"></i></button>
  <button class="btn" *ngIf="!mgs"    (click)="page_last()"><i class="fa-solid fa-angles-right" style="color: #005eff;"></i></button>
  <span *ngIf="!mgs"  style="color: white">Page: {{currentPage}}/{{sumPage+1}}</span>

</div>
<!--<section class="product-galary-one">-->
<!--  <div class="container">-->
<!--    <div class="product-galary-one-content">-->
<!--      <div style="margin:5px" class="product-galary-one-content-product">-->
<!--        <div class="product-galary-one-content-product-item" *ngFor="let c of customers ; index as i">-->
<!--          &lt;!&ndash;              <img style="max-width: 100%"  th:src="@{'/getImg/'+${sp.linkImg}}" alt="...">&ndash;&gt;-->
<!--          <img  data-bs-toggle="modal" data-bs-target="#imgDetall"  (click)=getCustomerDelete(c.id) style="max-width: 100%" src="{{c.link}}" alt="...">-->
<!--          <div class="product-galary-one-content-product-item-text">-->
<!--            <li>Ranker: {{c.typeCustomer.nameTypeCustomer}}</li>-->
<!--            <li style="color: white">{{c.nameCustomer}}</li>-->
<!--            <li style="color: white">{{c.phoneNumber}}</li>-->
<!--            <li style="color: white">{{c.address}}</li>-->
<!--            <li> <a class="btn btn-outline-success" >Xem thông tin</a>-->
<!--              <a style="margin-right: 10px"  class="btn btn-outline-primary" routerLink="/customer/update/{{c.id}}"><i class="fa-sharp fa-solid fa-pen-to-square" style="color: #8cff00;"></i></a>-->
<!--              <a  class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#delete"  (click)=getCustomerDelete(c.id)><i class="fa-solid fa-trash-can" style="color: #ff0000;"></i></a>-->
<!--            </li>-->
<!--            <li>-->
<!--              <i class="fas fa-star"></i>-->
<!--              <i class="fas fa-star"></i>-->
<!--              <i class="fas fa-star"></i>-->
<!--              <i class="fas fa-star"></i>-->
<!--              <i class="fas fa-star"></i>-->
<!--            </li>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
<h3 style="color: white; text-align: center" *ngIf="mgs">Không tìm thấy thông tin nào liên quan</h3>
<div class="container">
  <div class="square one"></div>
  <div class="square two"></div>
  <div class="square three"></div>
  <div class="square four"></div>
</div>
<!--<div style="text-align: center">-->
<!--  <button class="btn"  *ngIf="!mgs"  (click)="page_first()"><i class="fa-solid fa-angles-left" style="color: #005eff;"></i></button>-->
<!--  <button class="btn"  *ngIf="!mgs" (click)="page_prev()"><i class="fa-solid fa-chevron-left" style="color: #005eff;"></i></button>-->
<!--  <span *ngIf="currentPage <=1 && !mgs">-->
<!--    <button class="btn"  (click)="page_current(currentPage = 1)">1</button>-->
<!--    <button class="btn"  (click)="page_current(currentPage = 2)">2</button>-->
<!--    <button class="btn"  (click)="page_current(currentPage =3)">3</button>-->
<!--    <button class="btn">...</button>-->
<!--  </span>-->
<!--  <span *ngIf="currentPage >1 && currentPage < sumPage +1 && !mgs">-->
<!--    <button *ngIf="currentPage >2" class="btn">...</button>-->
<!--     <button class="btn"  (click)="page_current(currentPage-1)">{{currentPage-1}}</button>-->
<!--    <button class="btn"  (click)="page_current(currentPage)">{{currentPage}}</button>-->
<!--    <button class="btn"  (click)="page_current(currentPage+1)">{{currentPage+1}}</button>-->
<!--    <button  *ngIf="currentPage < sumPage" class="btn">...</button>-->
<!--  </span>-->
<!--  <span *ngIf="currentPage >= sumPage + 1 && !mgs">-->
<!--    <button class="btn">...</button>-->
<!--     <button class="btn"  (click)="page_current(sumPage-1)">{{sumPage-1}}</button>-->
<!--    <button class="btn"  (click)="page_current(sumPage)">{{sumPage}}</button>-->
<!--    <button class="btn"  (click)="page_current(sumPage+1)">{{sumPage+1}}</button>-->
<!--  </span>-->
<!--  <button class="btn" *ngIf="!mgs"   (click)="page_next()"><i class="fa-solid fa-angle-right" style="color: #005eff;"></i></button>-->
<!--  <button class="btn" *ngIf="!mgs"    (click)="page_last()"><i class="fa-solid fa-angles-right" style="color: #005eff;"></i></button>-->
<!--  <span *ngIf="!mgs"  style="color: white">Page: {{currentPage}}/{{sumPage+1}}</span>-->

<!--</div>-->
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background-color: #ffffff">
      <div class="modal-header">
        <h4 class="modal-title text-danger" id="modelTitleId">Thông báo: Xóa khách hàng</h4>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <i class="fa-brands fa-xbox" style="color: #ff0000;"></i>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn có chắc chắn muốn xóa khách hàng này không?</p>
        <ul>
          <li ><img height="100%" width="100%" src="{{customer.link}}"></li>
          <li>ID: {{ customer?.id }}</li>
          <li>Name: {{ customer?.nameCustomer }}</li>
          <li>Birthday: {{ customer?.birthday }}</li>
          <li>Id Card: {{ customer?.idCard }}</li>
          <li>Phone Number: {{ customer?.phoneNumber }}</li>
          <li>Type Customer: {{ customer?.typeCustomer.nameTypeCustomer }}</li>
          <li>Email: {{ customer?.email }}</li>
          <li>Address: {{ customer?.address }}</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button (click)="delete(customer?.id)" data-bs-dismiss="modal" type="button" class="btn btn-primary">Delete</button>
      </div>
    </div>
  </div>
</div>



<!-- Update New Modal-->
<!--<div class="modal fade overflow-scroll" id="update" tabindex="-1" role="dialog" aria-labelledby="modelTitleId1" aria-hidden="true"-->
<!--     data-bs-keyboard="false" data-bs-backdrop="static">-->
<!--  <div class="modal-dialog modal-lg" role="document">-->
<!--    <div class="modal-content">-->
<!--      <form action="" [formGroup]="formCustomer" (ngSubmit)="update()">-->
<!--        <div class="modal-header">-->
<!--          <h4 class="modal-title" id="modelTitleId1">Update customer </h4>-->
<!--          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">-->
<!--            <span aria-hidden="true">&times;</span>-->
<!--          </button>-->
<!--        </div>-->

<!--        <div class="modal-body">-->
<!--          <div class="mb-3">-->
<!--                <label for="id" class="form-label">Id Customer</label>-->
<!--            <input #id-->
<!--                   type="text" readonly  class="form-control" id="id" formControlName="id" >-->
<!--          </div>-->

<!--          <div class="mb-3">-->
<!--            <label for="nameCustomer" class="form-label">Ten Customer</label>-->
<!--            <input #id-->
<!--                   type="text" class="form-control" id="nameCustomer" formControlName="nameCustomer" >-->
<!--          </div>-->
<!--          <p class="text-danger" *ngIf="formCustomer.controls.nameCustomer?.touched && formCustomer.controls.nameCustomer?.errors?.required">Ten khong duoc de trong</p>-->
<!--          <p class="text-danger" *ngIf="formCustomer.controls.nameCustomer?.touched && formCustomer.controls.nameCustomer?.errors?.minlength">ten khong duoc be hon 5 ki tu</p>-->
<!--          <p class="text-danger" *ngIf="formCustomer.controls.nameCustomer?.touched && formCustomer.controls.nameCustomer?.errors?.maxlength">ten khong duoc lon hon 50 ki tu</p>-->


<!--          <div class="mb-3">-->
<!--            <label for="birthday" class="form-label">Ngay sinh Customer</label>-->
<!--            <input #id-->
<!--                   type="date" class="form-control" id="birthday" formControlName="birthday" >-->
<!--          </div>-->
<!--          <p class="text-danger" *ngIf="formCustomer.controls.birthday?.touched && formCustomer.controls.birthday?.errors?.required">Ngay sinh khong duoc de trong</p>-->

<!--          <div class="mb-3">-->
<!--            <label for="idCard" class="form-label">Id Card Customer</label>-->
<!--            <input #id-->
<!--                   type="text" class="form-control" id="idCard" formControlName="idCard" >-->
<!--          </div>-->
<!--          <p class="text-danger" *ngIf="formCustomer.controls.idCard?.touched && formCustomer.controls.idCard?.errors?.required">ID card khong duoc de trong</p>-->
<!--          <p class="text-danger" *ngIf="formCustomer.controls.idCard?.touched && formCustomer.controls.idCard?.errors?.pattern">Khong dung dinh dang</p>-->

<!--          <div class="mb-3">-->
<!--            <label for="phoneNumber" class="form-label">Phone number Customer</label>-->
<!--            <input #id-->
<!--                   type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber" >-->
<!--          </div>-->
<!--          <p class="text-danger" *ngIf="formCustomer.controls.phoneNumber?.touched && formCustomer.controls.phoneNumber?.errors?.required">So dien thoai khong duoc de trong</p>-->
<!--          <p class="text-danger" *ngIf="formCustomer.controls.phoneNumber?.touched && formCustomer.controls.phoneNumber?.errors?.pattern">Khong dung dinh dang</p>-->
<!--          <div class="mb-3">-->
<!--            <label for="selectOption" class="form-label">Options</label>-->
<!--            <select class="form-select" id="selectOption" formControlName="typeCustomer">-->
<!--              <option value="">&#45;&#45; Select an option &#45;&#45;</option>-->
<!--              <option *ngFor="let typeCustomer of typeCustomers "  value="{{typeCustomer.idTypeCustomer}}">{{typeCustomer.nameTypeCustomer}}</option>-->
<!--            </select>-->
<!--          </div>-->
<!--          <div class="mb-3">-->
<!--            <label for="email" class="form-label">Email Customer</label>-->
<!--            <input #id-->
<!--                   type="email" class="form-control" id="email" formControlName="email" >-->
<!--          </div>-->
<!--          <p class="text-danger" *ngIf="formCustomer.controls.email?.touched && formCustomer.controls.email?.errors?.required">Email khong duoc de trong</p>-->
<!--          <p class="text-danger" *ngIf="formCustomer.controls.email?.touched && formCustomer.controls.email?.errors?.email">Khong dung dinh dang</p>-->

<!--          <div class="mb-3">-->
<!--            <label for="address" class="form-label">Address Customer</label>-->
<!--            <input #id-->
<!--                   type="email" class="form-control" id="address" formControlName="address"  >-->
<!--          </div>-->
<!--          <p class="text-danger" *ngIf="formCustomer.controls.address?.touched && formCustomer.controls.address?.errors?.required">Dia chi khong duoc de trong</p>-->
<!--        </div>-->

<!--        <div class="modal-footer">-->
<!--          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>-->
<!--          <button type="submit" class="btn btn-success" data-bs-dismiss="modal" [disabled]="formCustomer.invalid">-->
<!--            Save-->
<!--          </button>-->
<!--        </div>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<!-- Img New Modal-->
<div  style="margin-top: 60px" class="modal fade" id="imgDetall" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div data-bs-dismiss="modal" class="modal-body">
          <div class="thu-nghiem-zoom">
            <div>
              <img  width="100%" height="100%" src="{{customer.link}}">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>
